body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 12%;
  background-color: #141414;
}

@media (max-width: 992px) {
  body header {
    padding-left: 5%;
  }
}

body header h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
}

body header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141414;
}

@media (max-width: 992px) {
  body header ul {
    position: fixed;
    top: 5%;
    left: -100%;
    /* making the page visible*/
    width: 100%;
    height: 100vh;
    z-index: 6;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
}

body header ul .navbar-links :active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header ul .navbar-links li {
  display: inline-block;
}

body header ul .navbar-links li a {
  display: block;
  color: #9D9C9C;
  padding: 40px 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

body header ul .navbar-links li a:hover {
  color: #ffffff;
}

@media (max-width: 992px) {
  body header ul .navbar-links li a {
    text-align: center;
    padding-top: 5rem;
  }
}

@media (max-width: 992px) {
  body header ul .navbar-links li {
    display: block;
  }
}

body header .menuBtn {
  position: absolute;
  top: 1.69rem;
  right: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width: 992px) {
  body header .menuBtn {
    display: none;
  }
}

body header .menuBtn .menuBtnBurger {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body header .menuBtn .menuBtnBurger::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body header .menuBtn .menuBtnBurger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body header .menuBtn .menuBtnBurger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

body header .menuBtn .menuBtnBurger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

body header .open .menuBtnBurger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body header .open .menuBtnBurger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

body header .open .menuBtnBurger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.firstSec {
  height: 100vh;
}

.firstSec h2 {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding-top: 200px;
  font-size: 3rem;
  position: relative;
  /* animation*/
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@media (max-width: 600px) {
  .firstSec h2 {
    font-size: 2.5rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.firstSec .firstSecBG {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-color: #000000;
}

@media (max-width: 600px) {
  .firstSec .firstSecBG {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 40% 0;
       object-position: 40% 0;
  }
}

.firstSec .icon {
  text-align: center;
  margin: auto;
  padding-left: 50%;
  position: absolute;
  padding-top: 400px;
  cursor: pointer;
}

.firstSec .icon .fa-chevron-down {
  color: #9D9C9C;
  z-index: 5;
}

.firstSec .icon .fa-chevron-down:hover {
  color: #ffffff;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.secondSec .secondSecContent {
  position: absolute;
  right: 10%;
  padding-top: 60%;
}

@media (min-width: 600px) {
  .secondSec .secondSecContent {
    padding-top: 20%;
  }
}

.secondSec .secondSecContent .secondSecH1 {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (min-width: 600px) {
  .secondSec .secondSecContent .secondSecH1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .secondSec .secondSecContent .secondSecH1 {
    font-size: 3rem;
  }
}

.secondSec .secondSecContent .secondSecH2 {
  font-size: 3.1875rem;
  font-weight: bold;
  color: #ffffff;
  font-style: italic;
}

@media (min-width: 600px) {
  .secondSec .secondSecContent .secondSecH2 {
    font-size: 3.984rem;
  }
}

@media (min-width: 768px) {
  .secondSec .secondSecContent .secondSecH2 {
    font-size: 6.375rem;
  }
}

.secondSec .secondSecContent ul {
  list-style-type: none;
}

.secondSec .secondSecContent ul li {
  padding-top: 100px;
}

.secondSec .secondSecContent ul li a {
  font-size: 1.125rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #C33B2B;
  font-weight: bold;
}

.secondSec .secondSecBGopacity {
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 0;
     object-position: 60% 0;
  background-color: #000000;
}

@media (max-width: 768px) {
  .secondSec .secondSecBGopacity {
    -o-object-position: 60% 0;
       object-position: 60% 0;
  }
}
/*# sourceMappingURL=style.css.map */