$navColor: #141414;
$mainText: #ffffff;
$secText: #9D9C9C;
$mainBackground: #000000;


body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
    background-color: $navColor;
    h3{
      color: $mainText;
      font-weight: 300;
      font-size: 24px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $navColor;
  
      li {
          display: inline-block;
          a {
              display: inline-flex;
              color: $secText;
              padding: 8px 20px;
              text-decoration: none;
              transition: all 0.3s ease 0s;
              font-size:  1.25rem;
              font-weight:400;
              &:hover{
                color: $mainText;
              }
            }
            
        }
  }
  
  }
  .firstSec{
    height: 100vh;
    h2{
      color: $mainText;
      font-weight: 100;
      text-align: center;
      padding-top: 200px;
      font-size: 3rem;

      /* animation*/
      -webkit-animation: fadein 2s; 
      -moz-animation: fadein 2s;
      -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
      animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
        }
      
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }
    .firstSecBG{
      height: calc(100% - 15px);
      width: 100%;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      position: absolute;
      z-index: -1;
      object-fit: scale-down;
      background-color: $mainBackground;
    }
  }
}

  
