$navColor: #141414;
$mainText: #ffffff;
$secText: #9D9C9C;
$mainBackground: #000000;

// breakpoints
$tablet: 768px;
$phone: 600px;
$laptop: 992px;
$desktop: 1200px;


body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
    background-color: $navColor;
    @media (max-width: $laptop) {
      // flex-direction: column;
      padding-left: 5%;
    }
    
    h3{
      color: $mainText;
      font-weight: 300;
      font-size: 24px;

    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $navColor;
      @media (max-width: $laptop) {
        position: fixed;
        top: 5%;
        left: -100%; /* making the page visible*/
        width: 100%;
        height: 100vh;
        z-index: 6;
        transition: ease-in-out .5s;

      }
    
      .navbar-links{
        :active{
          display: flex;
        }
      li {
          display: inline-block;
          
          a {
              display: block;
              color: $secText;
              padding: 40px 20px;
              text-decoration: none;
              transition: all 0.3s ease 0s;
              font-size:  1.25rem;
              font-weight:400;
              text-transform: uppercase;
              &:hover{
                color: $mainText;
              }
              // &:active{
              //   color: $mainText;
              // }
              
              @media (max-width: $laptop) {
                // display: none;
                text-align: center;
                padding-top: 5rem;
              }
            }

            @media (max-width: $laptop) {
              // display: none;
              display: block;
              // display: flex;
            }
            
          }
      }

        }
        
        .menuBtn{
          position: absolute;
          top: 1.69rem;

          right: 2rem;
          width: 30px;
          height: 30px;
          cursor: pointer;
          transition: all .5s ease-in-out;
          @media (min-width: $laptop) {
            display: none;
          }

          .menuBtnBurger{
            
            width: 40px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
            transition: all .5s ease-in-out;

            &::before{
              content: '';
              position: absolute;
              width: 40px;
              height: 5px;
              background: white;
              border-radius: 5px;
              transition: all .5s ease-in-out;
            }
            &::after{
              content: '';
              position: absolute;
              width: 40px;
              height: 5px;
              background: white;
              border-radius: 5px;
              transition: all .5s ease-in-out;
            }
            &::before{
              transform: translateY(-16px);
            }
            &::after{
              transform: translateY(16px);
            }
          }
        }
        .open .menuBtnBurger {
          // animation
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
          
          &::before{
            transform: rotate(45deg) translate(35px, -35px);
          }
          &::after{
            transform: rotate(-45deg) translate(35px, 35px);
          }
        }

  }
  
  }
  .firstSec{
    height: 100vh;
    h2{
      color: $mainText;
      font-weight: 300;
      text-align: center;
      padding-top: 200px;
      font-size: 3rem;
      position: relative;
      @media (max-width: $phone) {
        font-size: 2.5rem;
      }

      /* animation*/
      -webkit-animation: fadein 2s; 
      -moz-animation: fadein 2s;
      -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
      animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
        }
      
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }
    .firstSecBG{
      height: calc(100% - 15px);
      width: 100%;
      position: absolute;
      z-index: -1;
      object-fit: scale-down;
      background-color: $mainBackground;
      @media (max-width: $phone) {
        object-fit: cover; 
        object-position: 40% 0;
      }
    }
  }
  .icon{
    text-align: center;
    padding-top: 400px;

    .fa-chevron-down{
      color: $secText;
      z-index: 5;
      &:hover{
        color: $mainText;
        transition: ease-in-out .3s;
      }
    }
  }

